<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} EduLMS - Learning Management System {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        {# NAV #}
        {% include 'includes/nav.html' %}
    </header>

    <main class="container">
        {# CONTENT #}
        {% block content %} {% endblock %}
    </main>

    {# FOOTER #}
    {% include 'includes/footer.html' %}
</body>
</html>